<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cr_model %>
    <%= form.text_field :cr_model %>
  </div>

  <div class="field">
    <%= form.label :cr_year %>
    <%= form.number_field :cr_year %>
  </div>

  <div class="field">
    <%= form.label :cr_usage %>
    <%= form.text_field :cr_usage %>
  </div>

  <div class="field">
    <%= form.label :cr_fuel %>
    <%= form.text_field :cr_fuel %>
  </div>

  <div class="field">
    <%= form.label :producer_id %>
    <%= form.collection_select :provider_id, @producers, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
